<h1>This is the New Student Form</h1>
<div>
</div>
<p>
    <h5>Please Sign Up Here!</h5>
    <div class="student-signup">
    <p>
      <label for="student_name">Name:</label>
      <input type="text" name="name" placeholder="name" id= "student_name">
    <p>
      <label for="student_age">Age:</label>
      <input type="text" name="age" placeholder="age" id= "student_age">
    </p>
    <p>
      <label for="student_grade">Grade</label>
      <input type="text" name="grade" placeholder="grade" id= "student_grade">
    </p>

    <p>
      <label for="student_location">Location</label>
      <input type="text" name="location" placeholder="location" id= "student_name">
    </p>
    
    <p>
      <input type="submit" name="submit"  value="submit">
    </p>

    </div>
</p>

<div>
<h5><a href="/students">Home</a></h5>
</div>