<h1>This is the New Student Form</h1>
<div>
</div>
<p>
    <h5>Please Sign Up Here!</h5>
    
    <form action="/students" method="POST">
    
      <label for="student_name">Name:</label>
      <input type="text" name="student[name]" placeholder="name" id= "student_name">
    
      <label for="student_age">Age:</label>
      <input type="text" name="student[age]" placeholder="age" id= "student_age">
    


      <label for="student_grade">Grade</label>
      <input type="text" name="student[grade]" placeholder="grade" id= "student_grade">


    
      <label for="student_location">Location</label>
      <input type="text" name="student[location]" placeholder="location" id= "student_name">
    

    
      <input type="submit" name="submit"  value="submit">
  
    </form>

   


<div>
<p>
<%= button_to "Students Roster", students_path, method: :get %>
</p>
</div>