<h1>This is the Show page</h1>
<div>

<p>
   Name: <%= @student.name %>
</p>

<p>
   Age: <%= @student.age %>

</p>

<p>
  Grade: <%= @student.grade %>
</p>

<p>
  City: <%= @student.location %>
</p>
</div>

<h5>Edit Student</h5>
<input type="submit" method="/students/#{@student.id}/edit">
<h5><a href="/students/">Home</a></h5>
